<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form   method="post" action="createtask">
    {% csrf_token %}
    <h3>Assign Task</h3>
    Left <select name="left">
    <option> zero</option>
    <option> one</option>
    <option> two</option>
    <option> three</option>
    <option> four</option>
    <option> five</option>
    <option> six</option>
    <option> seven</option>
    <option> eight</option>
    <option> Nine</option>
</select>
    <br/>
    Operator <select name="operators">
    <option> plus</option>
    <option> minus</option>
    <option> times</option>
    <option> divided_by</option>
</select>
    <br/>
Right <select name="right">
    <option> zero</option>
    <option >one</option>
    <option >two</option>
    <option >three</option>
    <option >four</option>
    <option >five</option>
    <option >six</option>
    <option >seven</option>
    <option >eight</option>
    <option >Nine</option>
</select>
<br/>
Student <select name="ddlstudent">
    {% for i in data %}
    <option>{{ i.Name }}</option>
    {% endfor %}
</select>
    <br/>
    <input type="submit" value="Create Task">
</form>

</body>
</html>